
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      additional_contexts:
         plugins: ../plugins/react
    image: genassist_frontend:dev
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always

